*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties

# Decompiled & Staged APK Artifacts
*.apk
*.apk.bak
*.apk.idsig
classes*.dex
DebugProbesKt.bin
resources.arsc
apk_staging/
temp_apk_res/
/META-INF/
/org/
/kotlin/
/res/
/AndroidManifest.xml
/new_index.html
/rendered_index.html
/web/
.vscode/
.env
.env.*
*.env
